{% extends 'administracion/ingreso/base_ingreso.html'%}
{% block panel-content %}
<section class="grid-container" >
    <div class="grid-x grid-margin-x align-center">
        <h3 class="cell"> Agregar Ingreso: </h3>

        <form action="" method="POST" class=" cell grid-x grid-margin-x grid-padding-x"> {% csrf_token %}
                <div class="cell grid-x grid-margin-x" >
                    <div class="cell medium-3" >
                        <label>Tipo de ingreso:</label>
                        <div class="input-group">
                            {{form.tipo_ingreso}}
                        </div>
                    </div>
        
                    <div class="cell medium-5 ">
                        <label>Egreso:</label>
                        <div class="input-group">
                            {{form.ingreso}}
                        </div>
                    </div>

                    <div class="cell medium-4">
                        <label>Monto:</label>
                        <div class="input-group">
                            {{form.monto}}
                        </div>
                    </div>
                </div>    
                <div class="cell grid-x grid-margin-x ">
                    <div class="small-3 cell">
                        <label>Fecha:</label>
                        <div class="input-group">
                            {{form.fecha}}
                        </div>
                    </div>
                    <div class="small-3 cell">
                        <label>corte de mes:</label>
                        <div class="input-group">
                            {{form.corte_mes}}
                        </div>
                        {% for error in form.corte_mes.errors %}
                            <p class="cell" style="color: red;">
                            {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="small-6 cell">
                        <label>Descripcion:</label>
                        <div class="input-group">
                            {{form.descripcion}}
                        </div>
                    </div>
                </div>
                <div class="cell grid-x grid-margin-x align-center">
                    <button type="submit" class="success button cell small-6"> Agregar</button>  
                </div> 
        </form>
    </div>

</section>

          
{% endblock panel-content %}