{% extends 'deuda/base_deuda.html' %}
{% load static %}

{% block panel-content %}
<div class="grid-x grid-margin-x"> 
    <h3 class="cell"> Referencia </h3>
    <section class=" cell grid-x container">
        <form action="" method="GET" class="cell grid-x grid-margin-x grid-padding-y align-center" >
            <section class="cell grid-x grid-margin-x align-center">
                <article class="cell medium-4">
                    {{form.mes}}
                </article>
                <article class="cell medium-4">
                    {{form.torre}}
                </article>
            </section>
            <button type="submit" class= "cell alert button"> Filtrar </button>
        </form>     
    </section>

    <div class="cell grid-x grid-margin-x" style="margin-top: 2em;">
            <table class="hover">
            <thead>
                <th> N-Control <th>
                <th> Apartamento </th> 
                <th> Mes </th>
                <th> Monto </th>
                <th> Decripcion </th>
                <th> Referencia </th>
            </thead>
            <tbody>
                {% for referencia in referencia %}
                    <tr>
                        <td> 000{{referencia.id}} <td>
                        <td>{{referencia.reporte.apartamento}} - {{referencia.reporte.apartamento.get_torre_display}} </td>
                        <td>{{referencia.reporte.corte_mes}}</td> 
                        <td>{{referencia.monto_pagar}}</td>
                        <td>{{referencia.descripcion}}</td>
            
                        <td>
                        {% comment %} <a href="{% url 'admin_app:recibo_pdf' referencia.id %}" class="button"> Recibo </a> {% endcomment %}
                        <a href="{% url 'deuda_app:crear_referencia' referencia.reporte.id %}" class="button"> Referencia </a> 
                        </td>
                    </tr>
                    {%empty%}
                        <h3 style = "color:red"> No existen resultados en estos momentos </h3>
                {% endfor %}
            </tbody>
            </table>
    </div>
</div>

{% endblock panel-content %} 