{% extends 'deuda/base_deuda.html' %}
{% load static %}
{% load humanize %}
{% block panel-content %}

    <section class="grid-container">
        <article class="cell grid-x grid-margin-x">
            <h2 class="cell"> Referencia de Pago {{reporte.corte_mes.get_mes_display}}</h1>
        </article>
        
        <article class="cell grid-x grid-margin-x">
            <table >
                <thead>
                    <th>Reporte</th>
                    <th>Mes</th>
                    <th>Apartamento</th>
                    <th>Propietario</th>
                    <th>Monto</th>
                    <th>deuda</th>
                    <th>Total a pagar</th>  

                </thead>
                <tbody>
                    <td>{{reporte.id}}</td>
                    <td>{{reporte.corte_mes.get_mes_display}}</td>
                    <td>{{reporte.apartamento.apartamento}}</td>
                    <td>{{reporte.apartamento.propietario.nombre}} {{reporte.apartamento.propietario.apellido}}</td>
                    <td>{{reporte.monto | intcomma}}</td>
                    <td>{{reporte.deuda | intcomma}}</td>
                    <td>{{reporte.total_pagar | intcomma}}</td> 
                </tbody>
            </table>
        </article>
    
        <article class="cell grid-x grid-margin-x"> 
           <form action="" method="POST" class="cell grid-x grid-margin-x grid-padding-x"> {% csrf_token %}
                <article class="cell grid-x grid-margin-x  align-center">
                    <div class="cell medium-3" >
                        <label>Tipo de Pago:</label>
                        <div class="input-group">
                            {{form.tipo_pago}}
                        </div>
                    </div>
                    <div class="cell medium-3" >
                        <label> Monto del Pago:</label>
                        <div class="input-group">
                            {{form.monto_pagar}}
                        </div>
                    </div>
                    <div class="cell medium-3" >
                        <label>Referencia:</label>
                        <div class="input-group">
                            {{form.referencia_pago}}
                        </div>
                    </div>
                </article >

                <article class="cell grid-x grid-margin-x align-center">
                    <div class="cell medium-8" >
                        <label>Anotacion:</label>
                        <div class="input-group">
                            {{form.descripcion}}
                        </div>
                    </div>
                    <div class="cell medium-3" >
                        <label> Pago:</label>
                        <div class="input-group">
                            {{form.pago_bool}}
                        </div>
                    </div>
                </article>
                <article class="cell grid-x grid-margin-x align-center" >
                    <button type="submit" class="success button cell small-4">Aceptar</button>
                    <a href={% url 'admin_app:generar_reportes' reporte.corte_mes.mes reporte.apartamento.torre %} class="success button cell small-4"> Atras </a>
                    <a href={% url 'deuda_app:comprobante_pdf' object.id %} class="success button cell small-4"> Enviar Correo </a>
                </article>
                {% comment %} <p class="cell">referencia.id => {{referencia.id}} o object {{object.id}}</p>
                <p class="cell"> mes => {{reporte.corte_mes.mes}} o torre {{reporte.apartamento.torre}}</p> {% endcomment %}
           </form>   
        </article>
        
    </section>

{% endblock panel-content %}