{% extends 'deuda/base_deuda.html' %}
{% load static %}
{% block panel-content %}

    <section class="grid-container">
        <article class="cell grid-x grid-margin-x">
            <h2 class="cell"> Referencia de Pago {{mes.get_mes_display}}</h1>
        </article>
        
        <article class="cell grid-x grid-margin-x">
            <table >
                <thead>
                    <th>Reporte</th>
                    <th>Mes</th>
                    <th>Apartamento</th>
                    <th>Propietario</th>
                    <th>Total a pagar</th>  

                </thead>
                <tbody>
                    <td>{{reporte.id}}</td>
                    <td>{{mes.get_mes_display}}</td>
                    <td>{{apartamento.apartamento}}</td>
                    <td>{{propietario.nombre}} {{propietario.apellido}}</td>
                    <td>{{reporte.monto}}</td> 

                </tbody>
            </table>
        </article>

        <article class="cell grid-x grid-margin-x"> 
           <form action="" method="POST" class="cell grid-x grid-margin-x grid-padding-x"> {% csrf_token %}
                <article class="cell grid-x grid-margin-x  align-center">
                    <div class="cell medium-3" >
                        <label>Tipo de Pago:</label>
                        <div class="input-group">
                            {{form.tipo_pago}}
                        </div>
                    </div>
                    <div class="cell medium-3" >
                        <label> Monto del Pago:</label>
                        <div class="input-group">
                            {{form.monto_pagar}}
                        </div>
                    </div>
                    <div class="cell medium-3" >
                        <label>Referencia:</label>
                        <div class="input-group">
                            {{form.referencia_pago}}
                        </div>
                    </div>
                </article >

                <article class="cell grid-x grid-margin-x align-center">
                    <div class="cell medium-3" >
                        <label>Anotacion:</label>
                        <div class="input-group">
                            {{form.descripcion}}
                        </div>
                    </div>
                    <div class="cell medium-3" >
                        <label> Pago:</label>
                        <div class="input-group">
                            {{form.pago_bool}}
                        </div>
                    </div>
                </article>
                <article class="cell grid-x grid-margin-x align-center" >
                    <button type="submit" class="success button cell small-4">Aceptar</button>
                    <a href={% url 'admin_app:reporte_torreA' mes.id %} class="success button cell small-4"> Reportes Torre A </a>
                </article>
           </form>   
        </article>
        
    </section>

{% endblock panel-content %}