{% extends 'administracion/cierre_mes/base_cierre.html' %}
{% load static %}
{% block panel-content %}

<section class="grid-x grid-margin-x">
   <div class="cell">
        <h2 class="align-center"> Administracion Residencia las Torres de  San Jose </h2>
   </div>

      <div class="cell grid-x grid-margin-x" style="margin-top: 2em;">
        <table class="hover">
          <thead>
            <th>Id </th>
            <th>Mes</th>
            <th>Total de Egreso</th>
            <th>Total de Ingreso</th>  
            <th>Reserva </th>  
            <th>Acciones</th> 
            <th>Actualizar</th>  
            <th>Cerrar Mes </th>
          </thead>
          <tbody>
            {% for cierre in cierre_mes %}
                <tr>
                    <td> {{cierre.id}}</td>
                    <td>{{cierre.get_mes_display}}</td>
                    <td>{{cierre.monto_egreso}}</td> 
                    <td>{{cierre.monto_ingreso}} </td> 
                    <td> {{cierre.reserva}} </td>
                    <td>
                      <ul style="list-style: none;">
                        <li style="font-weight: bolder;">
                          <a href="{% url 'admin_app:detail_egreso_mes' cierre.id %}"> Listar Egreso </a>
                        </li>
                        <li style="font-weight: bolder;">
                        <a href="{% url 'admin_app:detail_ingreso_mes' cierre.id %}"> Listar Ingreso </a>
                        </li>
                        <li style="font-weight: bolder;">
                        <a href="{% url 'admin_app:reporte_torreA' cierre.id %}"> Reporte Torre A </a>
                        </li>
                        <li style="font-weight: bolder;">
                        <a href="{% url 'admin_app:reporte_torreB' cierre.id %}"> Reporte Torre B </a>
                        </li>
                        <li style="font-weight: bolder;">
                        <a href="{% url 'admin_app:reporte_alquiler' cierre.id %}"> Reporte Alquiler </a>
                        </li>
                        {% comment %} <li style="font-weight: bolder;">
                          <a href="{% url 'admin_app:crear_reporte' cierre.id %}"> Generar Recibos </a>
                        </li> {% endcomment %}
                      </ul>
                    </td>
                    <td> 
                    <ul style="list-style: none;">
                      <li>
                        <a href="{% url 'admin_app:update_mes' cierre.id %}" class="warning button" style="font-weight: bolder;"> Actualizar</a> 
                      </li>
                      <li>
                        <a href="{% url 'admin_app:crear_reporte' cierre.id %}" class="warning button" style="font-weight: bolder;"> Generar Recibos </a>
                      </li>
                    </ul>
                    </td>
                    <td> <a href="{% url 'admin_app:cerrar_mes' cierre.id %}" class="alert button" style="font-weight: bolder;"> Cerrar Mes</a></td>
                </tr>
                {%empty%}
                    <h3 style = "color:red"> No existen resultados en estos momentos </h3>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    

</section>

{% endblock panel-content %}