{% extends 'administracion/cierre_mes/base_cierre.html' %}
{% load static %}
{% load humanize %}
{% block panel-content %}

<section class = "grid-x-container">
  <article class="cell">

  </article>
  
  <article class="cell grid-x grid-margin-x grid-padding-y align-center">
    <h1 class= "cell"> Informe General del mes {{mes.get_mes_display}} </h1>
    <article class="cell grid-x grid-margin-x align-center medium-4" >
      
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Reporte del Edificio</h4>
        </div>
          {% comment %} <h1>{{total_reporte}}</h1> {% endcomment %}
        <div class="card-section">
          <h4>{{total_reporte | intcomma}}</h4>
        </div>
      </div>
    </article>
    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Deuda Edificio</h4>
        </div>
          {% comment %} <h1>{{total_reporte}}</h1> {% endcomment %}
        <div class="card-section">
          <h4>{{total_deuda | intcomma}}</h4>
        </div>
      </div>
    </article>
        <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Referencia del Edificio</h4>
        </div>
          {% comment %} <h1>{{total_reporte}}</h1> {% endcomment %}
        <div class="card-section">
          <h4>{{total_referencia | intcomma}}</h4>
        </div>
      </div>
    </article>

  </article>
  
  <!-- TORRE A-->
  <article class="cell grid-x grid-margin-x grid-padding-y align-center">
    
    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Reporte Torre A</h4>
        </div>
        <div class="card-section">
          <h4>{{total_reporteA | intcomma}}</h4>
        </div>
      </div>
    </article>

    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4> Deuda Torre A</h4>
        </div>
        <h4>{{deuda_torreA | intcomma}}</h4>
        <div class="card-section">
          <p></p>
        </div>
      </div>
    </article>

    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class="cell card" style="width: 300px;">
        <div class="card-divider">
          <h4> Referencia TorreA</h4>
        </div>
        <h4>{{total_referenciaA | intcomma}}</h4>
        <div class="card-section">
          <p></p>
        </div>
      </div>
    </article>
    
  </article>

  <!-- TORRE b-->

  <article class="cell grid-x grid-margin-x grid-padding-y align-center">
    
    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Reporte Torre B</h4>
        </div>
        <div class="card-section">
          <h4>{{total_reporteB | intcomma}}</h4>
        </div>
      </div>
    </article>

    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4> Deuda Torre B</h4>
        </div>
        <h4>{{deuda_torreB | intcomma}}</h4>
        <div class="card-section">
          <p></p>
        </div>
      </div>
    </article>

    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class="cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Referencia Torre B</h4>
        </div>
        <h4>{{total_referenciaB | intcomma}}</h4>
        <div class="card-section">
          <p></p>
        </div>
      </div>
    </article>
    
  </article>

  <!-- ALQUILERES-->

  <article class="cell grid-x grid-margin-x grid-padding-y align-center">
    
    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Reporte Alquiler</h4>
        </div>
        <div class="card-section">
          <h4>{{total_reporteAlq | intcomma}}</h4>
        </div>
      </div>
    </article>

    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class=" cell card" style="width: 300px;">
        <div class="card-divider">
          <h4> Deuda Alquileres</h4>
        </div>
        <h4>{{deuda_alquiler | intcomma}}</h4>
        <div class="card-section">
          <p></p>
        </div>
      </div>
    </article>

    <article class="cell grid-x grid-margin-x align-center medium-4" >
      <div class="cell card" style="width: 300px;">
        <div class="card-divider">
          <h4>  Total a pagar</h4>
        </div>
        <h4>{{total_referenciaAlq | intcomma}}</h4>
        <div class="card-section">
          <p></p>
        </div>
      </div>
    </article>
    
  </article>

</section>

{% endblock panel-content %}

