{% extends "base.html" %}

{% load  static %}

{% block content %}

<section>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
  
      <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left" style="background-color: #424242;">
        <div class="row column">
          <h3 style="text-align: center; padding: 0.3em; color: #ffae00;">Torres San Jose</h3>
          <ul class="vertical menu">
              <li>
                <h4 style="color:#17A589; text-align: center;font-weight: bolder;">
                  Administracion
                </h4>
                <ul class="nested vertical menu">
                  <li class="activeli"> 
                    <a href="{% url 'admin_app:egreso-add' %}" style="color: white;"> Agregar Egreso</a>
                  </li>
                  {% comment %} <li class="activeli"> 
                    <a href="{% url 'admin_app:opciones' %}" style="color: white;"> Listar</a> 
                  </li> {% endcomment %}

                  <li class="activeli"> 
                    <a href="{% url 'admin_app:ingreso_add' %}" style="color: white;">Agregar Ingreso</a>
                  </li>
                  
                  <li class="activeli"> 
                    <a href="{% url 'admin_app:listar_cierre_mes' %}" style="color: white;">Corte de Mes</a>
                  </li>
                  
                  <li class="activeli"> 
                    <a href="{% url 'admin_app:crear_mes' %}" style="color: white;">Agregar Corte de Mes</a>
                  </li>
                  
                  <li class="activeli"> 
                    <a href="{% url 'deuda_app:listar_deudas' %}" style="color: white;"> Listar Deudas Totales</a>
                  </li>
                  
                  <li class="activeli"> 
                    <a href="{% url 'edificio_app:apart_torres' 1 %}" style="color: white;"> Listar Apar Torre A </a>
                  </li>
                  
                  <li class="activeli"> 
                    <a href="{% url 'edificio_app:apart_torres' 2 %}" style="color: white;"> Listar Apar Torre B</a>
                  </li>
                  <li class="activeli"> 
                    <a href="{% url 'edificio_app:apart_torres' 3 %}" style="color: white;"> Listar Alquiler </a>
                  </li>
                  <li class="activeli"> 
                    <a href="{% url 'deuda_app:listar_referencia' %}" style="color: white;"> Buscar Referencia </a>
                  </li>
               
                  <li class="activeli"> 
                    <a href="{% url 'admin_app:listar_reporte' %}" style="color: white;"> Buscar Reportes </a>
                  </li>
                </ul>
              </li>
          </ul>
          <ul class="vertical menu">
              <li>
                <h4 style="color:#17A589; text-align: center;font-weight: bolder; margin-top:20px;">
                  Edificio
                </h4>
                <ul class="nested vertical menu">
                  <li class="activeli"> 
                    <a href="#" style="color: white;">Propietario</a>
                  </li>
                  
                  <li class="activeli">
                    <a href="#" style="color: white;">Apartamentos</a>
                  </li>
                  <li class="activeli"> 
                    <a href="{% url 'users_app:user-lista'%}" style="color: white;">Usuario</a>
                  </li>
                </ul>
              </li>
          </ul>
    
        </div>
      </div>
  
      <div class="off-canvas-content" data-off-canvas-content>
        <!-- declaramos un nuevo bloque para contenidod e panel -->
        <div class="grid-x">
          <div class="cell top-bar" style="background-color: #424242;">
            <div class="top-bar-left">
              <h4 style="color: white;">Sesion de: {{ user.full_name }}</h4>
            </div>
            <div class="top-bar-right">
              <a href="{% url 'users_app:user-logout' %}">
                <span class="label warning">Salir</span>
              </a>
            </div>
          </div>
        </div>
        <div class="grid-container" style="padding: 1em;">
          {% block panel-content %}
          {% endblock panel-content %}
        </div>
    </div>

  </div>

</section>


{% endblock content %}