<article>
        {% if mes =="3" %}
          <table>
            <thead>
              <th>Gastos</th>
              <th>Monto</th>
              <th> Descripcion</th>
            </thead>
            <tbody>
              {% for gasto in gastos %}
              <tr>
                <td style="text-indent:10px; text-align:letf;">{{gasto.egreso}}</td>
                <td>{{gasto.monto | intcomma}}</td>
                <td style="text-indent:10px; text-align:letf;">{{gasto.descripcion}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <table class="hover">
            <thead>
              <th> Codigo </th>
              <th> Egreso </th>
              <th> Detallar </th>
              <th> Monto BS. </th>
              <th> Monto $. </th>
              <th> Precio del $. </th>
              <th> Descripcion </th>
            </thead>
            <tbody>
              {% for gasto in gastos %}
              <tr>
                <td>{{gasto.codigo.codigo}}</td>
                <td>{{gasto.codigo.nombre}}</td>
                <td>{{gasto.egreso}}</td>
                <td>{{gasto.monto | intcomma}}</td>
                <td>{{gasto.monto_dolar | intcomma}}</td>
                <td>{{gasto.precio_dolar | intcomma}}</td>
                <td>{{gasto.descripcion}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        <table>
          <th>Total de gastos</th>
          <td> {{ mes.monto_egreso | intcomma }}</td>
        </table>
      </article>