{% extends 'administracion/reporte/base_reporte.html' %}
{% load static %}

{% block panel-content %}
<div class="grid-x grid-margin-x">
 
  <h3 class="cell"> Reporte </h3>
    <section class=" cell grid-x container">
        <form action="" method="GET" class="cell grid-x grid-margin-x grid-padding-y align-center" >
            <section class="cell grid-x grid-margin-x align-center">
                <article class="cell medium-4">
                    {{form.mes}}
                </article>
                <article class="cell medium-4">
                    {{form.torre}}
                </article>
            </section>
            <button type="submit" class= "cell alert button"> Filtrar </button>
        </form>     
    </section>

  <div class="cell grid-x grid-margin-x" style="margin-top: 2em;">
    <table class="hover">
      <thead>
        <th> N-Control <th>
        <th>Apartamento</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Mes</th>
        <th>Deuda</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        {% for reporte in reporte %}
            <tr>
                <td> 000{{reporte.id}} <td>
                <td>{{reporte.apartamento}} - {{reporte.apartamento.get_torre_display}}</td>
                <td>{{reporte.monto}}</td>
                <td>{{reporte.fecha}}</td>
                <td>{{reporte.corte_mes}}</td> 
                <td>{{reporte.deuda}} </td> 
    
                <td>
                <a href="{% url 'admin_app:recibo_pdf' reporte.id %}" class="button">Recibo</i></a>
                {% comment %} <a href="#" class="button warning"><i class="fi-eye"></i></a> {% endcomment %}
                </td>
            </tr>
             {%empty%}
                <h3 style = "color:red"> No existen resultados en estos momentos </h3>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock panel-content %}